@import url('https://fonts.googleapis.com/css2?family=Changa+One&display=swap');

    body{
    font-family: 'changa one', cursive;
    background-color:rgb(195, 223, 96);
    }
    #SelecMascota{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;    
    }

    .h1.h2{
    align-items: center;
    width: 255px;
    height: 60px;
    background: #18ca77;   
    }

    .tarjeta{
    display:flex;
    justify-content: center;
    gap:18px;

    }
    .rati{
    width: 220px;
    height: 150px;
    background: #0677e0;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: top;
    color: white;
    }
    .rati img {
        width: 120px;
    }
    .Botoncito{
        width: 230px;
        height: 70px;
        display: flex;
        justify-content:center;
        padding: 5px;
        border-radius: 20px;
        align-items: center;
        background: #eaebe2;
        box-sizing: border-box;
        color:rgb(37, 51, 245);
    }
    
    #SelecAtack{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;   
    }

    .BotonAtaque{
     background-color: rgb(214, 37, 14);
     padding: 20px;
     border-radius: 47px;
     width: 142px;
     height: 69px;   
    }

   #sms{
        display:flex;
        justify-content:center;
        align-items:center;   
   }
   
   .life{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
   }